
.container {
    width:600px;
    height:600px;
}

#overlay-image {
    background-image: url("balconies_grid.png");
    width:600px;
    height: 567px;
    position: absolute;
    clip: rect(auto, 400px, auto, auto);
}

#base-image {
    width:600px;
    height: 567px;
    position: absolute;
    background-image: url("balconies.png");
}

#slider {
    width: 600px;
}