
.container {
    width:600px;
    height:600px;
}

.image2 {
    background-image: url("balconies_grid.png");
    width:600px;
    height: 567px;
    position: absolute;
    clip: rect(auto, 400px, auto, auto);
}

.image1 {
    width:600px;
    height: 567px;
    position: absolute;
    background-image: url("balconies.png");
}

.slider {
    width: 600px;
}